<<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>templat is working</title>
</head>
<body>
    <h1>wellcome to my page . enter the name </h1>

<form action='/about' method='get'>   <!-- ei jaygay 'about' name er page o niye jabe 'form' er txt lhike 'button' a submit korle-->
    <textarea name='text' style='margin: 0px; width: 721px;height: 93;'></textarea> <br>
    <button type='submit'> Done analyazer </button>
</form>

</body>
</html>